body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  justify-content: center;
  width: 100%;
}

nav {
  padding: 0 2rem;

  .brand-logo {
    font-size: 25px;
  }
}

.nav-search-wrapper {
  align-items: center;
  border-radius: 2px;
  display: flex;
  height: 40px;
  margin-left: 300px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;

  .material-icons {
    margin: 0 2rem;
  }

  input[type="text"]:not(.browser-default):focus:not([readonly]) {
    border-bottom: none;
    box-shadow: none;
  }
}

.nav-search-input {
  border: none !important;
  margin: 0 !important;
}

.breadcrumb-wrapper {
  margin: 20px auto 0;
}

.breadcrumb {
  font-size: 12px;
  &::before {
    font-size: 16px;
  }
  &:last-child {
    color: rgba(255, 255, 255, 0.7);
  }
}

.active {
  color: #90caf9 !important;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #2196F3;
  box-shadow: 0 1px 0 0 #2196F3;
}

input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #2196F3;
}

.badge {
  height: 64px;
  &::after {
    content: "3";
    background-color: #2196f3;
    border-radius: 50%;
    left: -10px;
    padding: 1px 6px;
    position: relative;
    top: -75px;
  }
}

.flags {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 24px;
  &::before {
    content: "\00a0";
  }
}

.flag-poland {
  background-image: url("../img/flagi/poland.svg");
}

.flag-gb {
  background-image: url("../img/flagi/united-kingdom.svg");
}

.flag-germany {
  background-image: url("../img/flagi/germany.svg");
}

.section-statistics {
  .card-panel {
    min-height: 150px;
    h4,
    p {
      margin-top: 0;
    }
    h5 {
      font-size: 1.2rem;
    }
  }
}

.avatar {
  div {
    margin-top: 1rem;
  }
}

.center-preloader {
  position: absolute;
  left: 50%;
  margin: -100px 0 0 -100px;
  top: 50%;
}

.very-big {
  height: 200px;
  width: 200px;
}

.section-login, 
.section-details,
.section-users,
.section-posts,
.section-catogories,
.section-comments,
.section-mailbox {
  width: 100%;
}

.input-field .prefix.active {
  color: #2196F3;
}

.dropdown-content li>span {
  color: #2196F3;
}

.pagination li.active {
  background-color: #2196F3;
}

.card-content-mine {
  padding: 2rem;
  background: #fff;
}

.email-title {
  font-weight: bold;
}

.list-of-emails {
  .circle {
    align-items: center;
    display: flex !important;
    justify-content: center;
    font-size: 1.5rem;
  }
  .active {
    color: #000 !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
  .collection-item {
    &:hover {
      background-color: rgba(0, 0, 0, 0.1) !important;
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 993px) {
  nav a.button-collapse {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  nav .brand-logo {
    font-size: 16px;
  }
}